# Ignore large output video files
data/output/out.mp4
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model files (do not upload large or sensitive data)
data/input/
data/output/*.csv
models/*.pt
../Training a Licence Plate Detector Model/dataset/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings
.vscode/
